





  header {
    background-image: url(https://wallpaperplay.com/walls/full/2/7/d/364648.jpg);
  }

  h1 { 
    color: lightgrey;
    text-align: justify;
    font-size: 40px;
    padding: 20px;
  }


  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

  }
    ul li {
      display: inline-block;
      
    }
     
      ul li a {
        color: whitesmoke;
        text-decoration: none;
        padding: 20px;
        display: block;      
        
      }
    
   

  body {
    
    background-image: url(https://images.unsplash.com/photo-1592099086579-047cab88633c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    
  }

.Project-image {
    width:  300px;
    height: 300px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h2 {
  color: rgb(143, 6, 6);
  text-transform: uppercase;
  text-align: center;
  size: 160px;
  
}


p {
  color: brown;
  text-justify: newspaper;
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px;
}